:root {
  --PhoneInputCountryFlag-height: 2em;
}

.container {
  max-width: 80%;
  margin-inline: auto;
}

.validation-text {
  font-size: 14px;
  color: red;
}

.mt-5 {
  margin-top: 5rem;
}

.btn-danger,
.btn-primary {
  padding: 8px 14px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  color: #fff;
  box-shadow: 0 2px 0 rgb(5 145 255 / 10%);
}

.btn-danger:disabled,
.btn-primary:disabled {
  cursor: not-allowed;
  color: rgba(0, 0, 0, 0.25);
  background-color: rgba(0, 0, 0, 0.04);
  box-shadow: none;
}

.btn-primary {
  background-color: #1677ff;
}

.btn-danger {
  background-color: #ff4d4f;
}

.actions-wrapper {
  display: flex;
  gap: 1rem;
}

.pagination-wrapper {
  width: fit-content;
  margin: 0 auto;
}

.pagination {
  margin: 30px auto;
  display: flex;
  gap: 1rem;
}

.btn-index {
  padding: 6px 10px;
  border: 1px solid #1677ff;
  border-radius: 4px;
  color: #1677ff;
  cursor: pointer;
  background-color: white;
}

.btn-index.active {
  background-color: #1677ff;
  color: white;
}

.posts .post:not(:last-child) {
  margin-bottom: 1rem;
}

.posts {
  min-height: 400px;
}

.loader {
  text-align: center;
  margin: 90px auto;
}

.d-block {
  display: block;
}

.ml-auto {
  margin-left: auto;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}